@font-face {
  font-family: "BoroughGrotesk-Shaded";
  src: url(/font/BoroughGrotesk-Shaded.otf);
}

body {
  margin: 0;
  height: 100vh;
  background-size: cover;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;


}

.parallax-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parallax-wrap h2 {
  font-size: 150;
  /* //font-family: "BoroughGrotesk-Shaded", sans-serif; */
  transform: translate(-50%, -50%);
  color: white;
  background-color: transparent;
  cursor: pointer;

}

  @keyframes floatTop {
      0% { transform: translatey(0px); }
      50% { transform: translatey(-35px); }
      100% { transform: translatey(0px); }
  }

  .parallax-wrap img {
      position: absolute;
      height: 60%;
      width: 60%;
      border-radius: 50px;
      /* border-radius: 100%; */
    }
    .parallax-wrap img:nth-child(1) {
      justify-content: center;
      z-index: 0;
    }

.screens {
  display: grid;
  grid-template-columns: repeat(3, 100vw);
  grid-gap: 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.screen {
  height: 100vh;
  scroll-snap-align: start;
  background: #ccc;
}

.screen1 {
  /* background-image: url('/img/3.jpg'); */
  background-size: cover;
}

.screen2 {
  /* background-image: url('/img/2.jpg'); */
  background-size: cover;
}

.screen3 {
  /* background-image: url('/img/1.jpg'); */
  background-size: cover;
}
footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

p {
  font-size: 14px;
  color: #666;
}

.grow-on-hover {
  font-size: 100px;
  transition: font-size 0.2s ease-in-out;
}

.grow-on-hover:hover {
  font-size: 180px;
  z-index: 9999;
}

header {
  background-color: #f2f2f2;
  color: #fff;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  margin: 0 10px;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #ccc;
}

.button {
  /* position: absolute; */
  background-color: #ffffff;
  color: #000000;
  margin-right: 15px;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.button1 {
  /* position: absolute; */
  background-color: #ffffff;
  color: #000000;
  border: none;
  padding: 10px 20px;
  margin-right: 15px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.moon {
  width: 150px;
  height: 150px;
  z-index: 999;
  position: absolute;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 10px 10px #000 inset, 0 0 10px 2px;
  }
  .moon::after{
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      border-color: black;
      border-radius: 50%;
      box-shadow: -20px -20px 25px 1px #000 inset;
  }
  .moon > div{
      width: 200%;
      height: 100%;
      animation: spin 40s linear alternate infinite;
      background: url(/img/colormap.jpg);
  }

  #moon1 { top: 25%; left: 5%;
      z-index: 9999;
      animation: float 6s ease-in-out infinite;
  }
  #moon2 { top: 77%; left: 47%;
      animation: floatbottom 4.8s ease-in-out infinite;
  }
  #moon3 { top: 47%; left: 85%;
      animation: float 4.5s ease-in-out infinite;
  }
  #moon4 { top: 60%; left: 70%;
      animation: floatbottom 6s ease-in-out infinite;
  }

  #moon5 { top: 80%; left: 20%;
      animation: float 6s ease-in-out infinite;
  }
  #moon6 { top: 25%; left: 15%;
      animation: floatbottom 4.8s ease-in-out infinite;
  }
  #moon7 { top: 75%; left: 15%;
      z-index: 242;
      animation: float 4.5s ease-in-out infinite;
  }
  #moon8 { top: 18%; left: 78%;
      z-index: 43;
      animation: floatbottom 6s ease-in-out infinite;
  }
  #moon9 { top: 10%; left: 75%;
      z-index: 0;
      animation: floatbottom 6s ease-in-out infinite;
  }

  @keyframes spin {
      to {
        transform: translateX(-50%);
      }
    }
    @keyframes float {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-30%);
      }
    }
    @keyframes floatbottom {
      0%, 100% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(30%);
      }
    }

    .popup {
      display: none;
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 90%;
      height: 85%;
      margin: auto;
  }

  .popup-closedesign {
      position: absolute;
      font-size: 100px;
      width: 40px;
      height: 40px;
      top: 10px;
      left: 4%;
      z-index: 999;
      border-radius: 100%;
      cursor: pointer;
  }

  .popup-content {
      position: relative;
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      border-radius: 20px;
      overflow: hidden;
      overflow-y: auto;
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
  }

  .popup-content::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
  }

  .popup-content-inner {
  display: flex;
  flex-direction: row;
  padding: 30px;
  margin-top: 5%;
  }

  .popup-content-inner img {
  border-radius: 10px;
  width: 50%;
  height: 50%;
  margin-right: 40px;
  margin-left: 40px;
  }

  .text-container {
    width: 50%;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 10px;
    padding-left: 25px;
    justify-content: center;
    padding-right: 25px;
    }

  .text-design {
  font-family: "test" sans-serif;
  color: white;
  font-size: 23px;
  justify-content:center;
  }


  #chat-window { height: 77%; margin-top: 2%;}
      .message {
          background-color: #ccc;
          border-radius: 5px;
          margin-right: 16%;
          margin-bottom: 1%;
          padding: 10px;
          width: 50%;
          float: right;
      }
      .response {
          background-color: #eee;
          border-radius: 5px;
          margin-left: 16%;
          margin-bottom: 1%;
          padding: 10px;
          width: 50%;
          float: left;
          justify-content: center;
          align-items: center;
      }
      .buttonmessage {
          margin: 5px;
      }

      .buttonClick {
        background-color: lightblue;
        height: 5%;
        width: 50%;
        margin-left: 25%;
        color: #000;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 2%;
        transition: font-size 0.5s ease-in-out;
    }

    .buttonClick:hover {
        font-size: 15px;
    }

    .input {
        border-radius: 4px;
        padding: 8px;
        font-size: 16px;
        height: 5%;
        width: 80%;
        margin-left: 10%;
        border-radius: 10px;
    }

      .imgLogo {
          width: 75;
          height: 75;
      }
      .imgLogoCross {
          width: 20;
          height: 20;
          margin-bottom: 1.5%;
      }
      .style {
          flex-direction: row;
          position: absolute;
          left: 5%;
          top: 1%
      }

      .buttontest {
          background-color: white;
          position: absolute;
          right: 3%;
          top: 50%;
          padding: 10 20;
          border-radius: 10px;
          color: black;
      }

      .buttonSignUp {
        background-color: white;
        position: absolute;
        right: 13%;
        top: 50%;
        padding: 10 20;
        border-radius: 10px;
        color: black;
    }
